# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment files
.env

# Cache files
exe_cache.json
daily_text.json
# If your daily_text.json is something you want to commit as a default, remove it from here

# IDE / Editor specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
